
.input-contato {
    background: #3B3D5D;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    padding: 5px;
    display: block;
    margin: 20px;
    width: 660px;
    height: 42px;
}

.button{
    color: #FFFFFF;
    background: #3B3D5D ;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    width: 100px;
    height: 70px;
    margin: 20px;   
}

.box {
    display: inline-block;
}

.divReturnUser {
    display: flex;
    padding:10px;
    margin-left: 10px;
    font-size: large;
    border: solid black 1px;
    width: 660px;
}

.cabecalho > a:nth-child(2) {
    background-color: #FF4A57;;

}

